.tot{
    background-color: yellow;
    display: flex;
    flex-direction: row;

}
#etc{
    background-color: skyblue;
    margin-left: 10px; 
}
#dashb{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
    width: 400px;
    height: 300px;
    font-size: 10px;

}
#dashboard{
    /* background-color: rgba(0, 0, 0, 0.178); */
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}
#chartsim{
    width: 360px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#entry_exit_ds{
    width: 120px;
    height: 250px;
    /* border: 1px solid black; */

    /* background-color: rgba(255, 255, 255, 0.322); */
}
.entryP{
    height: 30px;
    border-bottom: 1px solid black;
    font-weight: bold;
}
#unload5{
    width: 120px;
    height: 250px;
    border-left: 1px solid black;
    /* background-color: rgba(255, 255, 0, 0.322); */
    
}
.unloadP{
    border-bottom: 1px solid black;
    font-weight: bold;
    height: 30px;
}
#load5{
    width: 120px;
    height: 250px;
    border-left: 1px solid black;
    background-color: rgba(255, 255, 0, 0.322);
}
.loadP{
    border-bottom: 1px solid black;
    font-weight: bold;
    height: 30px;
}