.tot{
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 500px;
    display: flex;
    flex-direction: row;
}
#btmaingo, #btstart{
    width: 150px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
 
    top: 10%;
    background-color: white;
    border: 1px solid black
    
}
#btmaingo:hover, #btstart:hover{
    background-color: black;
    color: white;
    transition: 0.7s;
}

#etc{
    background-color: rgba(121, 138, 163, 0.178);
    margin-left: 10px;
    border: 1px solid black;
}
#dashb{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 600px;
    height: 300px;
    font-size: 12px;

}
table{
    border-collapse: collapse;
    background-color: white;
}
th, td{
    border: 1px solid black;
    width: 62px;
    height: 20px;
}
.unload_dashboard, .load_dashboard{
    width: 250px;
    margin-right: 3px;
}

#dashboard{
    /* background-color: rgba(0, 0, 0, 0.178); */
    border: 1px solid black;
    background-color: rgba(163, 235, 135, 0.151);
    width: 540px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#intitle{
    font-size: 15px;
    font-weight: bold;
}
#blockname{
    font-weight: bold;
    font-size: 14px;
}
#chartsim{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(121, 138, 163, 0.178);
}
#ct{
    width: 540px;
    height: 230px;
    background-color: skyblue;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cv{
    background-color: white;
    width: 45%;
    height: 230px;
}
#entry_exit_ds{
    width: 500px;
    height: 30px;
    
    background-color: rgba(5, 5, 5, 0.726);
    color: white;
    /* border: 1px solid black; */

    /* background-color: rgba(255, 255, 255, 0.322); */
}
.entryP{
    height: 20px;
    
    border-bottom: 1px solid black;
    font-weight: bold;
    background-color: skyblue;
    color: white;
}
#unload5{
    width: 180px;
    height: 240px;
    border-left: 1px solid black;
    /* background-color: rgba(255, 255, 0, 0.322); */
    
}

.mainP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
}
.startBt{
    width: 300px;
    height: 150px;
    font-weight: bold;
    font-size: 50px;
    margin-top: 500px;
    position:  absolute;
    top: 10%;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
.startBt:hover{
    background-color: black;
    color: white;
    transition: 0.7s;
}

.describeOuter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.describeInner{
    border: 1px solid black;
    width: 90%;
    height: auto;

}
.desText{
    height: 100%;
}
.textleft{
    text-align: left;
    height: 80%;

}
.inner01{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25%;

}
#img01{
    width: 95%;
    height: 95%;

}
.desText, .desgif{
    width: 48%;
    height: 180px;
    border: 1px solid black;
    margin: 1px;
}

#describeInTitle{
    font-size: 15px;
    font-weight: bold;
}
#describeIncont{
    font-size: 13px;
}
.inputSpace{
    background-color: blue;
    width: 90%;
    height: 100px;
    padding-top: 50px;
    color: white;    
}
#inputText{
    font-size: 13px;
    color: white;
    margin-left: 10px;
}
#inputTrucknum, #inputBlocknum, #inputTime{
    width: 100px;
}

#queueGo{
    width: 200px;
    height: 100px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}